* {
    font-family: Arial, Helvetica, sans-serif;
}



.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: baseline;
}

.nav-items {
    display: flex;
    justify-content: space-around;
}

.nav-links {
    padding: 20px;
}

.hero-section {
    padding: 40px;
    background-color: #1f2937;
    padding-bottom: 40px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: auto;
    gap: 100px;
}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9FAf8;
}

.hero .desc {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    padding: 15%;
    background-color: bisque;
}

.info {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-around;
}

.sign-up {
    width: fit-content;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-color: #1f2937;
}