* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.left-side {
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: baseline;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    color: white;
}

.nav-links {
    padding: 20px;
}

.hero-section {
    padding: 40px;
    background-color: #1f2937;
    padding-bottom: 40px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: auto;
    gap: 100px;
}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9FAf8;
}

.hero .desc {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    padding: 15%;
    background-color: bisque;
}

.info {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-around;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-color: #1f2937;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-env {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 40px;
    padding-bottom: 80px;
}

.info-card {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
}

.quote {
    width: auto;
    padding: 100px;
    text-align: center;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
}

.sign-up-form {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 50px;
    background-color: #1f2937;
    color: white;
}

.footer .personal {
    color: white;
}